.pp{    font-weight: 300;
          font-size: 24px;
		  line-height: 1.5;
		  color: #585858;
		  }
span{position:absolute;
     top:130px;
	 left:42%;}
p{    margin-top: 10px;
    color: #585858;
    text-align: center;
    width:1044px;
    height:94px;
    line-height: 1.7;    
	margin-top: 10px;
	display: block;
	    font-weight: 300;
    font-size: 28px;
	position:absolute;
	top:185px;
	}
.dot {
  transition: background-color 0.6s ease;
}
.dot:hover{background-color:#fff;}
.dot:active{background-color:#fff;}
.dot:visited{background-color:#fff;}
a{text-decoration:none;}
.name img{    height: 90px;
    width: 90px;
    border-radius: 50%;
	}
.mySlides fade{position:absolute;
               left:30%;}
.dot img{height:67px;
         width:267px;
		 filter: grayscale(100%);}
.button{position:absolute;
        top:400px;
		}
.all{display:inline-block;
     background-color:#f6f8fd;
	 height:550px;
	 width:1100px;
	 }
.name{position:absolute;
      left:39%;}
.dot img:visited{filter: none;}
.dot img:hover{filter: none;}
.dot img:active{filter: none;}